
	@charset "ISO-8859-1";
	@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
	@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
	@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');

	/* 00 ALL SETTINGS */
	* {			margin:0;width:100%;text-decoration:none;transition:all .25s ease-in-out;
				font-family: "Nunito", sans-serif;overflow:hidden;;}
	.active {	opacity:100%;}

	/* ====================================================================================================== */

	/* ============= */
	/* 00 INDEX PAGE */
	/* ============= */
	.tranauto {		position:relative;}
	.navigation {	position:absolute;height:100px;padding:0 5% 1% 2%;z-index:5;}
	.body {			position:absolute;height:900px;margin:0 0 0 0;padding:4% 0 0 2%;z-index:3;}
	.footer {		position:absolute;height:1080px;margin:26% 0 0 0;padding:0 2%;z-index:2;}
	/* 01 NAVIGATION */
	.navigation div {			float:left;}
	.navigation01 {				width:43%;padding:1% 0;}
	.navigation02 {				width:20%;padding:1.5% 0;}
	.navigation03 {				width:37%;}
	.navigation01 a {			width:50%;font-size:200%;font-weight:600; letter-spacing:-1.0px;color:#ffffff;}
	.navigation02 a {			width:10%;padding:0 5% 0 0;font-size:.9rem;font-weight:400; letter-spacing:-1.0px;color:#ffffff;opacity:50%;}
	.navigation02 a:hover {		cursor:pointer;	opacity:100%;}
	/* 01 INDEX BODY */
	.body
	.tagbox01 {				width:50%;margin:6% 0 0 0;color:#ffffff}
	.tagbox0101 {			width:70%;padding:0 0 1.5% 0;font-size:500%;font-family:"Gabarito",system-ui;font-weight:800;letter-spacing:-1.0px;line-height:80%;}
	.tagbox0102 {			width:60%;margin:2% 0;}	
	.tagbox0103 {			width:50%;padding:3% 5% 3% 0;}
	.tagbox0103 a {			border:1px solid #f5f5f5;padding:3% 10%;font-size:.9rem;letter-spacing:-1.0px;color:#ffffff;}
	.tagbox0103 a:hover {	border:#ffffff;cursor:pointer;background-color:#ffffff;color:#898989;font-weight:400;}
	/* 01 INDEX FOOTER */
	.footer
	.footer01 {				position:relative;font-size:250%;}
	.footer01 a {			width:3%;float:left;position:relative;font-size:50%;color:#ffffff;opacity:50%;}
	.footer01 a:hover {		opacity: 100%;}
	
	/* ====================================================================================================== */

	/* ============ */
	/* 01 ABOUTS US */
	/* ============ */
	.tranautoabtus
	.navabtus {			position:absolute;height:100px;padding:0 5% 1% 2%;z-index:2;}
	.bodyabtus {		position:absolute;height:900px;margin:5% 0 0 0;padding:0 0 0 2%;z-index:3;}
	.footerabtus {		position:absolute;height:1080px;margin:26% 0 0 0;padding:0 2%;z-index:2;}
	/* 01 NAVIGATION */
	.navabtus
	.navabtus div {				float:left;}
	.navabtus01 {				width:43%;padding:1% 0;}
	.navabtus02 {				width:20%;padding:1.5% 0;}
	.navabtus03 {				width:37%;}
	.navabtus01 a {				width:50%;font-size:200%;font-weight:600; letter-spacing:-1.0px;color:#898989;}
	.navabtus02 a {				width:10%;padding:0 5% 0 0;font-size:.9rem;font-weight:400; letter-spacing:-1.0px;opacity:50%;color:#898989;}
	.navabtus02 a:hover {		cursor:pointer;	opacity:100%;}
	.active {	opacity:100%;}
	/* 01 ABOUTS US BODY */
	.bodyabtus
	.contain01 {		width:100%;margin:0 0 0 0;padding:4% 0 0 0;}
	.contain01 h1 {		padding:0 0 1.5% 0;font-size:500%;font-family:"Gabarito",system-ui;font-weight:800;letter-spacing:-1.0px;line-height:100%;}
	.contain0102 {		width:45%;margin:0 0 0 0;}
	/* 01 ABOUTS US FOOTER */
	.footerabtus
	.footerabtus01 a {		width:3%;float:left;position:relative;font-size:50%;color:#898989;}

	/* ====================================================================================================== */

	/* ============ */
	/* 02 SERVICES  */
	/* ============ */
	.tranautoservs
	.navservs {			position:absolute;height:100px;padding:0 5% 1% 2%;z-index:2;}
	.bodyservs {		position:absolute;height:900px;margin:5% 0 0 0;padding:0 0 0 2%;z-index:3;}
	.footerservs {		position:absolute;height:1080px;margin:26% 0 0 0;padding:0 2%;z-index:2;}
	/* 01 NAVIGATION */
	.navservs
	.navservs div {			float:left;}
	.navservs01 {			width:43%;padding:1% 0;}
	.navservs02 {			width:20%;padding:1.5% 0;}
	.navservs03 {			width:37%;}
	.navservs01 a {			width:50%;font-size:200%;font-weight:600;letter-spacing:-1.0px;color:#898989;}
	.navservs02 a {			width:10%;padding:0 5% 0 0;font-size:.9rem;font-weight:400; letter-spacing:-1.0px;opacity:50%;color:#898989;}
	.navservs02 a:hover {	cursor:pointer;	opacity:100%;}
	/* 01 SERVICES BODY */
	.bodyservs01 {			width:50%;margin:0 0 0 0;padding:4% 0 0 0;}
	.bodyservs01 h1 {		padding:0 0 1.5% 0;font-size:500%;font-family:"Gabarito",system-ui;font-weight:800;letter-spacing:-1.0px;line-height:100%;}
	.bodyservs0102 {		width:45%;margin:0 0 0 0;}
	/* 01 SERVICES FOOTER */
	.footerservs
	.footerservs01 a {		width:3%;float:left;position:relative;font-size:50%;color:#898989;}

	/* ====================================================================================================== */

	/* ============ */
	/* 03 PORTFOLIO  */
	/* ============ */
	.tranautoport
	.navport {			position:absolute;height:100px;padding:0 5% 1% 2%;z-index:2;}
	.bodyport {		position:absolute;height:900px;margin:5% 0 0 0;padding:0 0 0 2%;z-index:3;}
	.footerport {		position:absolute;height:1080px;margin:26% 0 0 0;padding:0 2%;z-index:2;}
	/* 01 NAVIGATION */
	.navport
	.navport div {			float:left;}
	.navport01 {			width:43%;padding:1% 0;}
	.navport02 {			width:20%;padding:1.5% 0;}
	.navport03 {			width:37%;}
	.navport01 a {			width:50%;font-size:200%;font-weight:600;letter-spacing:-1.0px;color:#898989;}
	.navport02 a {			width:10%;padding:0 5% 0 0;font-size:.9rem;font-weight:400; letter-spacing:-1.0px;opacity:50%;color:#898989;}
	.navport02 a:hover {	cursor:pointer;	opacity:100%;}
	/* 01 PORTFOLIO BODY */
	.bodyport01 {			width:50%;margin:0 0 0 0;padding:4% 0 0 0;}
	.bodyport01 h1 {		padding:0 0 1.5% 0;font-size:500%;font-family:"Gabarito",system-ui;font-weight:800;letter-spacing:-1.0px;line-height:100%;}
	.bodyport0102 {		width:45%;margin:0 0 0 0;}
	/* 01 PORTFOLIO FOOTER */
	.footerport
	.footerport01 a {		width:3%;float:left;position:relative;font-size:50%;color:#898989;}

	/* ====================================================================================================== */

	/* ============ */
	/* 03 PORTFOLIO  */
	/* ============ */
	.tranautocontus
	.navcontus {			position:absolute;height:100px;padding:0 5% 1% 2%;z-index:2;}
	.bodycontus {			position:absolute;height:900px;margin:5% 0 0 0;padding:0 0 0 2%;z-index:3;}
	.footercontus {			position:absolute;height:1080px;margin:26% 0 0 0;padding:0 2%;z-index:2;}
	/* 01 NAVIGATION */
	.navcontus
	.navcontus div {		float:left;}
	.navcontus01 {			width:43%;padding:1% 0;}
	.navcontus02 {			width:20%;padding:1.5% 0;}
	.navcontus03 {			width:37%;}
	.navcontus01 a {		width:50%;font-size:200%;font-weight:600;letter-spacing:-1.0px;color:#898989;}
	.navcontus02 a {		width:10%;padding:0 5% 0 0;font-size:.9rem;font-weight:400; letter-spacing:-1.0px;opacity:50%;color:#898989;}
	.navcontus02 a:hover {	cursor:pointer;	opacity:100%;}
	/* 01 PORTFOLIO BODY */
	.bodycontus01 {			width:50%;margin:0 0 0 0;padding:4% 0 0 0;}
	.bodycontus01 h1 {		padding:0 0 1.5% 0;font-size:500%;font-family:"Gabarito",system-ui;font-weight:800;letter-spacing:-1.0px;line-height:100%;}
	.bodycontus0102 {		width:45%;margin:0 0 0 0;}
	/* 01 PORTFOLIO FOOTER */
	.footercontus
	.footercontus01 a {		width:3%;float:left;position:relative;font-size:50%;color:#898989;}
